*{
    border: 0;
    padding: 0;
}
body{
    margin: 0px;
}
main{
    grid-area: main;
    background-color: white;
    color: black;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "nav main"
}
ol{
    margin: 0px;
    padding: 0px;
    margin-bottom: 2%;
}
li{
    margin: 0px;
    margin-left: 1%;
    font-size: 20px;
    padding: 0px;
}
h1{
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.5em;
}
#navbar{
    grid-area: nav;
    height: 100vh;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: whitesmoke;
}
.main-section > header{
    font-size: 25px;
}
.main-section > p{
    font-size: 20px;
}
.main-section > code{
    border:1px solid gray;
    font-size: 20px;
    box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin:2px 3px;
    padding:1px 5px;
    }
#navbar > a, #navbar > header{
    border: 0.5px solid black;
    font-size: large;
    height: 16.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    body{
        grid-template-areas: 
        "main main";
    }
    #navbar{
        display: none;
    }
}
@media only screen and (min-width: 769px){
    main{
        margin-left: 3%;
        margin-top: 2%;
    }
}